<!DOCTYPE html>
<html>


<head>
{% block head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevNetCreate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Article-List.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
</head>

<body>
    {% block nav %}
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/rect3815.png') }}" style="height:100px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav align-items-baseline ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('switch') }}">Add Switches&nbsp;</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('spark') }}">Configure Cisco Spark&nbsp;</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('migrate') }}">Migrate&nbsp;</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% endblock %}
    {% block content %} {% endblock %}
    {% block footer %}
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="http://www.linkedin.com/in/paulgiblin/" target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="http://www.twitter.com/dreamlessod" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="http://www.youtube.com/user/dreamlessod"
                    target="_blank"><i class="icon ion-social-youtube"></i></a><a href="http://www.github.com/paulgiblin" target="_blank"><i class="icon ion-social-github"></i></a><a href="http://www.instagram.com/dreamlessod/" target="_blank"><i class="icon ion-social-instagram"></i></a></div>
            <p
                class="copyright"><a href="www.giblin.us" target="_blank">www.</a><a href="http://www.giblin.us" target="_blank">giblin</a><a href="www.giblin.us" target="_blank">.us</a> Paul Giblin © 2018</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>

</html>